<!--Cover-->
<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<!--End-->
<div class="container custom-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="item in items">
      <div class="card margin-bottom">
        <div class="card-height-indicator"></div>
        <div class="card-content">
          <div class="card-image">
            <img src="{{baseurl+item.imageUrl}}" alt="yeoman">
            <h3 class="card-image-headline">{{item.name}}</h3>
          </div>
          <div class="card-body">
            <p>{{item.description}}</p>
          </div>
          <!--footer class="card-footer">
            <div class="row">
              <div class="col-md-6 col-xs-6 no-padding no-margin tex-left">
                <button class="btn btn-flat">Share</button>
              </div>
              <div class="col-md-6 col-xs-6 no-padding no-margin text-right">
                <button class="btn btn-flat" ng-click="addOrden(item.name, item.description,item.pricing,item.imageUrl)">Orden</button>
              </div>
            </div>

          </footer-->
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<span id="snackbar-orden" data-toggle=snackbar data-content="Tu orden ya se esta preparando"></span>
    <script type="text/javascript">
      $(document).ready(function(){
        $.material.init();
        $.material.ripples();
        $.material.input();
        $.material.checkbox();
      });
    </script>
